div {
    color: darkcyan;
}
#top-banner {
    color: #fff;
    background-color: lightseagreen;
    padding: 30px;
    margin: 0 auto;
    text-align: center;
    font-size: 23px;
    font-family: sans-serif;
}